/* Main section */

.realEstate {
    position: relative;
}

/* Carousel */

.carousel {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -255px;
    left: 0;
}

.carousel__image {
    width: 1000px;
    height: 600px;
}

.carousel > .fa-arrow-right {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: black;
    z-index: 999;
    cursor: pointer;
    user-select: none;
}

.carousel > .fa-arrow-left {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: black;
    z-index: 999;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

/* Gallery */

.realEstate__list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;

    padding: 0 200px;
    margin-bottom: 50px;
}

.realEstate__list .realEstateEl {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}

.realEstate__list .realEstateEl:hover {
    filter: opacity(.8);
}

@media (max-width: 991px) {
    .realEstate__list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 480px) {
    .realEstate__list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        --webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

/* model */

.model {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}

.model.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.model img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
}

.model.open .fa-xmark,
.model.open .fa-arrow-right,
.model.open .fa-arrow-left {
    position: fixed;
    width: 4rem;
    height: 4rem;
    font-size: 25px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    cursor: pointer;
}

.model.open .fa-arrow-right {
    top: 440px;
    right: 10px;
}

.model.open .fa-arrow-left {
    top: 440px;
    left: 10px;
}

.model.open .fa-xmark {
    top: 10px;
    right: 10px;
}

.fa-trash-can {
    cursor: pointer;
    font-size: 20px;
}

