/* Main section */

.realEstate {
    margin-bottom: 100px;
}

/* Carousel */

.realEstateCarousel {
    position: absolute;
    height: 100.5vh;
    width: 100%;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;

    background-color: black;

    z-index: 0;
}

.carousel__image {
    /* height: auto; */
    width: 100%;
}

.realEstateCarousel > .fa-arrow-right-long,
.realEstateCarousel > .fa-arrow-left-long {
    position: absolute;
    
    font-size: 3rem;
    color: #9a9a9a;
    z-index: 999;
    cursor: pointer;
    user-select: none;

    transition: all 200ms ease-in-out;
}

.realEstateCarousel > .fa-arrow-right-long:hover,
.realEstateCarousel > .fa-arrow-left-long:hover {
    color: #2d2d2d;
}

.realEstateCarousel > .fa-arrow-left-long {
    top: 50%;
    left: 32px;
}

.realEstateCarousel > .fa-arrow-right-long {
    top: 50%;
    right: 32px;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

#slider {
    position: relative;
}

#slider > .fa-trash-can {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 50px;
}

/* Gallery */

.realEstate__list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;

    padding: 0 200px;

    margin-top: 100vh;
    margin-bottom: 100px;
}

.realEstate__list .realEstateEl {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}

.realEstate__list .realEstateEl > .img:hover {
    filter: opacity(.8);
}

.realEstateContact {
    padding: 15px 45px;

    text-decoration: none;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 3px;

    background-color: #2d2d2d;
    color: white;

    transition: all 200ms ease-in-out;
}

.realEstateContact:hover {
    background-color: #424242;
}

@media screen and (max-width: 992px) {
    .realEstate__list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;

        padding: 0 100px;
    }
}

@media screen and (max-width: 768px) {
    .realEstate__list {
        padding: 0 50px;
    }
}

@media screen and (max-width: 480px) {
    .realEstate__list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        --webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;

        padding: 0 20px;
    }
}

/* model */

.model {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}

.model.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.model img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
}

.model.open .fa-xmark,
.model.open .fa-arrow-right,
.model.open .fa-arrow-left {
    position: fixed;
    width: 4rem;
    height: 4rem;
    font-size: 25px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    cursor: pointer;
}

.model.open .fa-arrow-right {
    top: 440px;
    right: 10px;
}

.model.open .fa-arrow-left {
    top: 440px;
    left: 10px;
}

.model.open .fa-xmark {
    top: 10px;
    right: 10px;
}

.fa-trash-can {
    cursor: pointer;
    font-size: 20px;
}

