@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

.about {
    margin: 20px 0 0;

    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.about__section {
    display: flex;

    gap: 80px;

    justify-content: center;
    align-items: center;

    width: 100%;

    margin: 10px 0 100px;
}

.about__img {
    width: 500px;
}

.about__container {
    width: 450px;
}

.about__heading {
    font-size: 30px;
    font-weight: 700;

    letter-spacing: .25rem;

    text-align: left;

    color: #2d2d2d;
}

.about__text {
    width: 500px;

    text-align: left;

    font-family: 'Lora', serif;
    font-weight: 400;
    letter-spacing: .019em;
    line-height: 2.33;

    color: #3a3a3a;
}

.about__instagram {
    color: white;

    font-size: 20px;

    letter-spacing: 7px;

    text-decoration: none;

    background-color: #2d2d2d;

    padding: 14px 30px;

    margin-bottom: 50px;

    transition: all 300ms ease-in-out;
}

.about__instagram:hover {
    background-color: #424242;
}

@media screen and (max-width: 992px) {
    .about__section {
        gap: 30px;
    }

    .about__img {
        width: 450px;
    }

    .about__container {
        width: 400px;
        font-size: 14px;
    }

    .about__text {
        width: 400px;
    }

    .about__heading {
        font-size: 25px;
    }
}

@media screen and (max-width: 883px) {
    .about__img {
        width: 400px;
    }
}

@media screen and (max-width: 768px) {
    .about {
        padding: 0 50px;
    }

    .about__section {
        flex-direction: column;
    }

    .about__img {
        width: 100%;
    }

    .about__container,
    .about__text {
        width: 100%;
    }
}