/* Carousel */

.productCarousel {
    position: relative;
    height: 86vh;
    width: 100%;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;

    margin-bottom: 100px;

    background-color: black;
}

.product__carousel__image {
    height: 86vh;
    /* width: 100%; */
}

.productCarousel > .fa-arrow-right-long,
.productCarousel > .fa-arrow-left-long {
    position: absolute;
    
    font-size: 3rem;
    color: #9a9a9a;
    z-index: 999;
    cursor: pointer;
    user-select: none;

    transition: all 200ms ease-in-out;
}

.productCarousel > .fa-arrow-right-long:hover,
.productCarousel > .fa-arrow-left-long:hover {
    color: #2d2d2d;
}

.productCarousel > .fa-arrow-left-long {
    top: 50%;
    left: 32px;
}

.productCarousel > .fa-arrow-right-long {
    top: 50%;
    right: 32px;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

/* Gallery */

.product__list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;

    padding: 0 200px;
    margin-bottom: 50px;
}

.product__list .productEl {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}

.product__list .productEl:hover {
    filter: opacity(.8);
}

@media (max-width: 991px) {
    .product__list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 480px) {
    .product__list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        --webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}