@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

.contact {
    background-color: var(--color-gray-very-light);

    display: block;

    height: 445px;
    width: 70vw;

    padding: 30px;

    margin: 0 auto 50px;
}

.contact__container {
    height: 562px;

    width: 100%;

    padding-top: 50px;

    display: flex;
    flex-direction: column;
}

.contact__heading {
    display: block;
    margin: 0 auto;

    /* font-size: 30px; */
    font-weight: 700;

    letter-spacing: .25rem;

    color: var(--color-gray-dark);

    font-size: 60px;

    margin-bottom: 40px;
}

.contact__text {
    display: block;
    margin: 0 auto;

    font-size: 25px;

    margin-bottom: 60px;

    font-family: 'Lora', serif;
    font-weight: 400;
    letter-spacing: .019em;
    line-height: 2.33;

    color: #3a3a3a;
}

.contact__items {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;

    padding-left: 0px;

    margin: 50px 0px;
}

.contact__item {
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 360px;

    font-size: 25px;
}

.contact__circle {
    display: inline;

    border: 1px solid black;
    border-radius: 50px;

    padding: 30px 38px;

    color: #3a3a3a;
}

.contact__circle.mail {
    padding: 30px 35px;
}

.contact__item p {
    margin-top: 50px;

    font-family: 'Lora', serif;
    font-weight: 400;

    letter-spacing: .019em;

    color: #3a3a3a;
}

.fa-mobile-screen-button,
.fa-envelope,
.fa-location-dot {
    color: var(--color-gray-dark);
}

@media screen and (max-width: 992px) {
    .contact {
        height: 950px;
    }

    .contact__items {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .contact__heading {
        font-size: 40px;
    }
}