@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

.header {
    display: flex;

    align-items: center;
    justify-content: space-around;

    gap: 100px;

    height: 130px;

    font-family: 'Montserrat', sans-serif;

}

.header__items {
    display: flex;
    
    gap: 50px;
    z-index: 999;
}

.header__item {
    list-style: none;

    font-weight: 500;
}

.item__link,
.header__title {
    text-decoration: none;
}

.header__title {
    font-size: 22px;

    font-weight: 500;

    letter-spacing: 0.25rem;

    color: #2d2d2d;

    z-index: 999;
}