@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

.header {
    display: flex;

    align-items: center;
    justify-content: space-around;

    gap: 80px;

    height: 110px;

    font-family: 'Montserrat', sans-serif;

}

.header__menu {
    border: none;
    background-color: unset;

    font-size: 30px;

    color: #2d2d2d;

    display: none;

    z-index: 999;
}

.header__items {
    display: flex;

    gap: 30px;
    z-index: 999;
}

.header__item {
    list-style: none;

    font-weight: 500;
}

.header__item__link,
.header__title {
    text-decoration: none;

    color: #2d2d2d;

    font-size: 15px;

    transition: all 300ms ease-in-out;
}

.header__item__link:hover {
    color: #9a9a9a;
}

.header__title {
    font-size: 20px;

    font-weight: 500;

    letter-spacing: 0.25rem;

    color: #2d2d2d;

    transition: all 300ms ease-in-out;

    z-index: 999;
}

.header__title:hover {
    color: #9a9a9a;

    font-size: 21px;
}

@media screen and (max-width: 992px) {
    .header {
        justify-content: space-between;

        padding: 0 20px;
    }

    .header__menu {
        display: inline;
    }

    .header__items {
        position: absolute;

        left: 0;
        top: 110px;

        width: 100vw;

        background-color: #ffffff;

        padding: 20px 0;

        z-index: 1000;
        
        display: none;

        transition: all 500ms ease-in-out;
    }

    .header__items.open,
    .header .header__menu:hover+.header__items {
        display: flex;
        flex-direction: column;
    }

}