@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

html {
    scroll-behavior: smooth;
}

.footer__socials {
    display: flex;

    justify-content: center;

    gap: 20px;
}

.fa-brands {
    font-size: 27px;
}

.footer__items {
    display: flex;

    justify-content: center;

    gap: 20px;

    margin: 30px 0px;

    font-weight: 500;

    margin: 50px;
}

.footer__item {
    list-style: none;
}

.fa-brands,
.item__link {
    color: #2d2d2d;

    text-decoration: none;

    transition: all 300ms ease-in-out;
}

.fa-brands:hover,
.item__link:hover {
    color: #9a9a9a;
}

.footer__copyright {
    color: #9d9d9d;

    margin-bottom: 50px;
}

.go-to-top__link {
    transition: all 200ms ease-out;
}

.go-to-top__link {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.fa-arrow-up-long {
    color: #2d2d2d;

    font-size: 30px;

    margin-bottom: 50px;

    transition: all 200ms ease-out;
}

.fa-arrow-up-long:hover {
    color: #9a9a9a;
}

@media screen and (max-width: 992px) {
    .footer__copyright {
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    .footer__items {
        flex-direction: column;
    }

    .footer__items {
        font-weight: 400;
    }
}