@import url('../src/components/Portrait/Portrait.css');
@import url('../src/components/Product/Product.css');
@import url('../src/components/RealEstate/RealEstate.css');
@import url('../src/components/About/About.css');
@import url('../src/components/Contact/Contact.css');
@import url('../src/components/Footer/Footer.css');
@import url('../src/components/Header/Header.css');
@import url('../src/components/Socials/Socials.css');
@import url('../src/components/NotFound/NotFound.css');
@import url('../src/components/Price/Price.css');

:root {
  --color-primary: #ffffff;
  --color-gray-light: #9a9a9a;
  --color-gray-very-light: #f6f6f6;
  --color-gray-dark: #2d2d2d;
}

.App {
  text-align: center;

  background-color: var(--color-primary);
}
